
.side-nav-bar{
    background-color:#853ff10f;
    padding: 20px;
    width: 20%;
    margin: 20px;
}

.side-nav-bar *{
    color:black;
}
.side-nav-bar p{
    font-weight: 500;
    font-family: cursive;
}


.title {
    font-size: 30px;
    font-weight: 600;
    font-family: cursive;
}

.remove-anchor-defaults {
    color: black;
    text-decoration: none;
    font-weight: 500;
}



.nav-containers {
    font-size: 20px;
    font-family: auto;
    padding-bottom: 10px;
}
.icon-name-font{
    padding-right: 5px;
}

.nav-names {
    padding-left: 10px;
}


.dot {
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 50%;
    margin-left: 3px;
}