
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.login-card {
    width: 400px;
    margin: auto;
    padding: 30px;
    background-color: #853ff10f;
    -webkit-box-shadow: -3px 1px 16px 4px rgba(196, 186, 196, 0.75);
    -moz-box-shadow: -3px 1px 16px 4px rgba(196, 186, 196, 0.75);
    box-shadow: -3px 1px 16px 4px rgba(196, 186, 196, 0.75);
}

.input-box {
    width: 100%;
    border-radius: 8px;
}

.btn-color {
    background-color: #853ff1 !important;
    border: #853ff1 !important;
    color: white;
}

.btn-color:focus, .btn-color:hover{
    color: white;
}


